@font-face{
    font-family: 'Netflix';
    src: url('../../font/AvenirNextCondensed.ttc')
    font-wight: 400;
    font-style: normal;
}

header{
    padding-bottom: 100px;
    padding: 15px 15px 100px;
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(to bottom, black 0%, black 70%, rgba(0,0,0,.05) 85%, transparent 100%);
    left: 0;
    right: 0;
}

.margen{
    margin: 1px 1px;
}
body{
    background-color: black;
    color: aliceblue;
    padding: 35px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 108px;
    
}
a{
    color: white;
    text-decoration: none;
}
.navegacion-item {
    list-style: none;
    text-align: center;

}
.navegacion {
    padding: 0%;
    margin: 0;
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    justify-content: space-around;
}
.xe{
 
    color: #6e6e6e;
 
}
.featured{
margin-top: -25px;   
position: relative; 
overflow: hidden;
}

.featured-detail{
   */ border: 1px solid red;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, black 0%,black 40%, transparent 100%);
}
.tags {
   */ border:  1px solid yellow;
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    padding: 0;
}
.tag{
    */border: 1px solid red;
    display: flex;
}
.tag::before {
    content: '°';
    margin-right: 10px;
    position: relative;
    top: 3px;
    
}
.tag:first-child::before{
    display: none;
}
.featured-actions{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2em;

}
.button{
    */ border: solid blue;
    background: white;
    display: flex;
    align-items: center;
    padding: 5px 10em 5px 8em;
    border-radius: 3px;
    border: none;
}
.button::before {
*/ border: solid red;
content: '';
display: inline-block;
width: 25px;
height: 25px;
border-radius: none;
}
.button-secondary{
   */ border: 1px solid red;
    background: none;
    color: white;
    font-size: 1.1em;
    min-width: 1px;
    cursor: pointer;
    border: none;     
}

.button-secondary::before{
    content: '';
    display: block;
   */ border: 1px solid green;
    height: 25px;
    width: 25px;
    margin: auto;
    margin-bottom: 5px;
}
.button-down::before{
    background: url('../../imagenes/icons/download.svg')
}

.icon-plus::before{
    background: url('../../imagenes/icons/plus.svg')
}


.icon-play::before{
    background: url('../../imagenes/icons/play.svg')
}
.icon-info::before{
    background: url('../../imagenes/icons/info.svg')
}
.footer {
    */ border: 1px solid red;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    padding: 1em 0 0;
}
.tabs-list{
   */ border: 1px solid green;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    color: #6e6e6e;
}
.tabs-list a{
    color: #6e6e6e;  
    padding-bottom: 1em;  
}
.tab-item:hover :is(path, span){
    fill: white;
    color: white;
}
.tab-item{
   */ border: 1px solid yellow;
    text-align: center;
    font-size: .9em;
}
.tab-item svg{
    display: block;
    margin: auto;
}
.tab-item path{
    fill: #6e6e6e;

}
.liste-content{
    */border: 1px solid red;
    */ display: flex;
    white-space: nowrap;
    overflow-x: auto;
}
.liste-item{
    display: inline-block;
    margin-left: 10px;
}
.liste-item:first-child{
    margin: 0;
}
.lista {
    */border: 1px solid green;
    padding: 0 1em;
}
main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.liste-content::-webkit-scrollbar {
        background: transparent 90%;
}